{
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "proseWrap": "never",
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "printWidth": 140,
    "jsxBracketSameLine": true
}